$ColorPrincipal: rgb(27, 94, 32);

$blue: $ColorPrincipal;
@import "../bootstrap/scss/bootstrap";

$Grados: 150deg;
$Color1: rgba(29, 94, 27, 0.521);
$Color2: rgba(15, 65, 1, 0.671);
$Imagen: url('/images/20210103105602.svg');
body {
  background: linear-gradient($Grados, $Color1, $Color2), $Imagen;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  background-clip: border-box;
}

$Scroll1: rgb(30, 132, 73);
$Scroll2:rgba(27, 94, 31, 0.897);
/* webkit-scrollbar
Con ::-webkit-scrollbar nos encargaremos de definir la altura y la anchura del componente Scroll. Y si lo deseas, lo puedes ocultar sin afectar su funcionamiento. */
body::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  // display: none; /* Ocultar scroll */
  background: $ColorPrincipal;
}

/* webkit-scrollbar-thumb
Con ::-webkit-scrollbar-thumb podremos modificar los bordes, fondo y sombras el componente thumb, lo mejor de todo es que podemos utilizar las pseudo clases active y hover sobre este componente */
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: $Scroll2;
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: $ColorPrincipal;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: $ColorPrincipal;
}

/* webkit-scrollbar-track
Con ::-webkit-scrollbar-track es la misma historia que con ::-webkit-scrollbar-thumb respecto a los estilos y pseudo clases, pero aplicados al track. */
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: $Scroll1;
  border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
background: $Scroll1;
}

/* select { color:blue; }
option { color:red; background-color:yellow; }
option:hover { color:yellow; background-color:red; } */

// DataTables
$DTColor1: rgba(255, 255, 255, 0.5);

#TableDataTables_length label {
  color:rgb(255, 255, 255);
}

#TableDataTables_length select {
  color:rgb(255, 255, 255);
}

#TableDataTables_length select option {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)!important;
}

#TableDataTables_length select option:hover {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)!important;
}

#TableDataTables_filter label {
  color:rgb(255, 255, 255);
}

#TableDataTables_filter input {
  color:rgb(255, 255, 255);
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  height:30px
}

#TableDataTables_info {
  color: rgb(255, 255, 255);
}

#TableDataTables_paginate span a {
  color: rgba(255, 255, 255, 0.842)!important;
  background-color: rgba(255, 255, 255, 0.253)!important;
}

#TableDataTables_previous, #TableDataTables_next {
  color: rgb(255, 255, 255)!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: rgb(0, 0, 0) !important;
  border: 1px solid $DTColor1!important;
  background-color: $DTColor1!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $DTColor1), color-stop(100%, $DTColor1))!important;
  background: -webkit-linear-gradient(top, $DTColor1 0%, $DTColor1 100%)!important;
  background: -moz-linear-gradient(top, $DTColor1 0%, $DTColor1 100%)!important;
  background: -ms-linear-gradient(top, $DTColor1 0%, $DTColor1 100%)!important;
  background: -o-linear-gradient(top, $DTColor1 0%, $DTColor1 100%)!important;
  background: linear-gradient(to bottom, $DTColor1 0%, $DTColor1 100%)!important;
}





















